[run]
omit =
    */python?.?/*
    
[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise RuntimeError
    raise NotImplementedError
    raise ImportError
    raise ValueError
    raise TypeError
