name: publish

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Update pip
      run: pip install -U pip

    - name: Install builder
      run: pip install build

    - name: Build package
      run: pyproject-build --outdir dist/ .

    - name: Publish package
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
